# Casos para CMM

El objetivo de esta notebook es presentar algunos casos pequeños que nos puedan servir para entender mejor el comportamiento de CMM, independientemente de que estos casos representen o no un caso de uso real para alguna competencia.

### Caso 1

Se inicia un sistema con dos equipos: 1, y 2, con un único partido entre ellos: 1 vs 2 a favor de 1.

__Pregunta__: ¿Qué pasará con los ratings? ¿Hay alguna relación entre ellos?

* 1 - 0.625
* 2 - 0.375

__Observación__: Acorde a la <i>Regla de Laplace de sucesos</i> utilizar el estimador planteado por la misma nos permite que no hayan cambios abruptos en la resolución de los ratings de los equipos involucrados.

### Caso 2

Sobre el sistema anterior: se agregan cinco partidos a favor de 1.

__Pregunta__: ¿Qué pasará con los ratings? ¿Hay alguna relación entre ellos?

* 1 - 0.714286
* 2 - 0.285714

__Observación__: Los ratings se ajustan acorde a los resultados de los partidos. Esperadamente como vimos hasta ahora, los mismos dependen de la cantidad de partidos que hayan entre los equipos competidores.

### Caso 3

Sobre el sistema anterior: se suma un equipo, 3. 3 vs 2 a favor de 3.

__Pregunta__: ¿Será mejor el rating de 3 que el de 2?

* 1 - 0.68
* 3 - 0.58
* 2 - 0.24

__Observación__: Después de 3 vs 2 a favor de 3, 3 supera facilmente a 2 modificando sus posiciones. El rating de 2 desciende esperadamente, pero el de 1 también aunque sigue manteniendo su posición. Al no estar 1 involucrado en este partido, vemos que CMM afecta el rating (y tal vez el ranking) de equipos que no formaron parte del partido.

### Caso 4

Sobre el sistema anterior: se agregan diez partidos, 3 vs 2 a favor de 3.

__Pregunta__: ¿Se acercará el rating de 3 al rating de 1?

* 3 - 0.662963
* 1 - 0.644444
* 2 - 0.192593

__Observación__: En este caso se ve que CMM permite alterar no solo el rating, si no la posición de los equipos, ya que 3 vs 1 nunca tuvo lugar. Esto de alguna forma nos habla de "la justicia del método": ¿es justo que 1 descienda si nunca se enfrentó con 3?. Claramente la relación entre ambos equipos viene dada por los partidos que tuvieron de forma separada con 2. 1 vs 2 se dió hasta ahora seis veces mientras que 3 vs 2 se dió hasta ahora once veces.

### Caso 5

Sobre el sistema anterior: se agregan cinco partidos, 1 vs 2 a favor de 1.

__Pregunta__: Si la relación entre 1 y 3 es intermediada por la cantidad de partidos que ambos ganaron a 2, ¿será cierto que ambos tendrán el mismo rating si igualan la cantidad de partidos con 2?

* 1 - 0.657143
* 3 - 0.657143
* 2 - 0.185714

__Observación__: En este caso se ve que a igual cantidad de partidos ganados de 1 y 3 vs 2, se obtiene el mismo rating.

### Caso 6

Sobre el sistema anterior: se suma un equipo, 4. 4 vs 3 a favor de 4.

__Pregunta__: ¿Qué pasará si un nuevo equipo tiene una partida contra el equipo que está en la primera posición?

* 4 - 0.692159
* 1 - 0.606041
* 3 - 0.576478
* 2 - 0.125321

__Observación__: En una sola partida, 4 llegó a la primera posición. Se puede explicar que 1 haya quedado por arriba de 3 ya que la configuración de partidos jugados es un factor que está presente en CMM: 4 vs 3 deja a 3 con un partido más, pero perdido, a diferencia de 1 que no sumó partidos.

### Caso 7

Sobre el sistema anterior: se agregan cien partidos, 2 vs 3 a favor de 2.

__Pregunta__: ¿Puede alcanzar 2 las primeras posiciones si gana partidos contra los equipos de las últimas posiciones?

* 1 - 0.905919
* 4 - 0.52859
* 2 - 0.479722
* 3 - 0.0857696

__Observación__: Se observa que por un lado 2 y 3 intercambiaron posiciones, lo que muestra que, aunque los ajustes de rating se haga con cada partido, los máximos valores que pueden tener se ven limitados a los valores de los equipos que se enfrentaron. Por otro lado 1 y 4 intercambiaron lugares también: esto puede deberse a que hasta este momento 3 y 4 se enfrentaron en una ocasión a favor de 4, es probable que su caida en el puesto sea debido a la caida de 3 (su victoria se desprestigia).

### Caso 8

Sobre el sistema anterior: se agregan tantos partidos como sea necesario para desplazar a 1 de la primera posición, 3 vs 1 a favor de 3.

__Pregunta__: Estando 3 en la última posición, ¿podrá desplazar a 1 de la primera posición en pocos partidos?

* 2 - 0.597924
* 1 - 0.566854
* 4 - 0.583805
* 3 - 0.251416

__Observación__: En siete partidos, 3 fue capaz mediante CMM de que 2 reemplazara a 1 en el primer lugar.

### Caso 9

Sobre el sistema del caso 7: se agregan tantos partidos como sea necesario para desplazar a 1 de la primera posición, 3 vs 2 a favor de 3.

__Pregunta__: Estando 3 en la última posición, ¿podrá desplazar a 1 de la primera posición en pocos partidos?

* 1 - 0.864293
* 4 - 0.551295
* 2 - 0.430528
* 3 - 0.153884

__Observación__: En veinte partidos, 3 aún no fue capaz mediante CMM de un equipo reemplazara a 1 en el primer lugar.

## Algunas conclusiones

Estos ejemplos sencillos nos permitieron entender un poco más CMM a la hora de rankear equipos.

Desde el caso 1 al caso 5 probamos el caso de introducir un equipo y hacerlo avanzar compitiendo con el equipo de la última posición. Vimos que puede alcanzar un mejor puesto en el ranking tratando de obtener una configuración similar a la de los equipos que están en la posición deseada, lo cual es esperado para un ranking en general. Vimos también que el resultado de un partido influye sobre otros equipos mediante una "transitividad" (caso 4).

Desde el caso 6 al caso 9, queriamos hacer foco en como un equipo puede avanzar en la tabla. Ingresamos un participante más a nuestro sistema, dejando un total de cuatro y volviendolo un poco más complejo, corroboramos que los equipos son suceptibles a cambios en su rating si algún equipo con el que tuvo relación tiene un partido. Por otra parte, notamos que un equipo en la tabla avanza más lento conforme se enfrenta a equipos que están en las últimas posiciones y más rápido conforme se enfrenta a otros que está en las primeras:

* en el caso 7: 3 vs 2, favor a 3. Después de cien partidas 2 había avanzado una posición.
* en el caso 8: 3 vs 1, favor a 3. En siete partidas se logra que 2 desplace a 1.
* en el caso 9: 3 vs 2, favor a 3. En veinte partidas no se logró mover a 1 del primer lugar.

Una prueba que podemos hacer para corroborar esto último, es precisamente con un set de datos más real.

# Estrategias para llegar a las primeras posiciones

__Estrategia trivial__: En base a lo que se comentó antes. Una estrategía posible para llegar a las primeras posiciones con relativamente pocas partidas, siendo el último en la tabla es ganarle al que esté primero siempre. De esta manera el último aumenta su rating tanto como puede.

Para corroborar esto, se hizo una prueba sobre algunos casos de test presentados por la cátedra.

* atp_matches_2015.dat: equipo 104433, llega a las primeras posiciones en 15 partidos.
* test_completo_1000_2.in: equipo 396, llega a las primeras posiciones en 259 partidos.
* test_completo_1000_8.in: equipo 409, llega a las primeras posiciones en 889 partidos.

__Estrategia "transitiva"__: Otra estrategia posible sería aprovechar el caracter transitivo de CMM: entre el caso 6 y el caso 7 de la sección anterior se puede ver al equipo 1 que había tenido muchas más partidas de las que el equipo 4 tuvo con 2. Entre esas pruebas se agregaron partidas que ponian en ventaja a 2, pero hicieron subir a 1 por sobre 4. En resumen: Que un equipo suba o baje de posición depende en parte a la performance de los equipos con los que jugó previamente: si 1 gana muchas veces a 2, entonces cuando 2 quiera subir, 1 también lo hará. En concreto:

* Un equipo A, quiere llegar a las primeras posiciones.
* A se enfrenta y gana contra equipos B, C, D: no muchos partidos, de lo contrario la probabilidad de que en alguno de ellos pierda incrementa. Estos equipos son considerados por A como más débiles y por sobre los que tiene una ventaja.
* De esta forma, A se asegura tener buenas posiciones por sus propios resultados.
* Al tener B, C, D (con alguna probabilidad, por ser considerados equipos de bajo rendimiento) peor rankeo, si estos quieren tener mejores posiciones u obtener una clasificación, deben ganar partidos.
* A obtiene los beneficios de los partidos ganados por B, C, D aumentando su rating sin haber jugado.

# ¿Es CMM un método justo?

* Puede pasar que el rating de un equipo se vea afectado por una partida en la que no estuvo involucrado
* Sabemos que de poder elegir contra quien jugar y cuantos partidos un equipo puede plantear una estrategia para subir su rating sin haber jugado.
* En el caso 9 presentado en la sección anterior. se observa que si un equipo que está en las primeras posiciones quiere llegar al primer lugar, es dificil que lo haga ganando partidas con equipos que están en posiciones más bajas o bien que no tienen relación alguna con los equipos que están por encima del que quiere subir. Aún después de haber jugado, como en ese caso más de veinte partidos.

En base a estas cosas, podría calificarse a CMM como un método __no__ justo, de no tener la competencia reglas claras que determinen la forma de juego, asegurando que no se puedan incurrir en tales estrategias o asegurando que todos jueguen contra todos.

# Comparación de CMM con otros métodos

In [5]:
# generar csv para cmm y wp

!python metnum.py build;
!./tp ../data/atp_matches_2015.dat ./ranking-cmm.out 0 ./prueba-cmm.csv
!./tp ../data/atp_matches_2015.dat ./ranking-wp.out 1 ./prueba-wp.csv

g++ -o ./tp ./tp.o

In [201]:
# implementando elo
# https://www.geeksforgeeks.org/elo-rating-algorithm/

import math

def ELOProbability(rating1, rating2): 
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, 1.0 * (rating1 - rating2) / 400)) 

def ELORating(Ra, Rb, d):

    K = 30

    Pb = ELOProbability(Ra, Rb)
    Pa = ELOProbability(Rb, Ra)

    # gana A
    if (d == 1) :
        Ra = Ra + K * (1 - Pa)
        Rb = Rb + K * (0 - Pb)
    # gana B
    else :
        Ra = Ra + K * (0 - Pa)
        Rb = Rb + K * (1 - Pb)

    return (round(Ra, 6), round(Rb, 6))

In [222]:
# generando dataframe para el ranking utilizando elo

import pandas as pd
import numpy as np

table_names=['date', 'eq1', 'sc1', 'eq2', 'sc2']
atp_df = pd.read_table("./../data/atp_matches_2015.dat", delimiter=' ', names=table_names)[1:]

atp_teams = pd.concat([atp_df.eq1, atp_df.eq2], axis=0).unique()
elo_rating = np.repeat(1500, len(atp_teams))

elo_df = pd.DataFrame(data={'equipos': atp_teams, 'elo': elo_rating})

for i, row in atp_df.iterrows():
    elo_eq1 = elo_df[elo_df.equipos==row.eq1].elo.iloc[0]
    elo_eq2 = elo_df[elo_df.equipos==row.eq2].elo.iloc[0]

    (elo_eq1, elo_eq2) = ELORating(elo_eq2, elo_eq1, row.sc1)

    elo_df.at[elo_df.equipos==row.eq1, "elo"] = elo_eq1
    elo_df.at[elo_df.equipos==row.eq2, "elo"] = elo_eq2

In [229]:
# setup de dataframes

cmm_df = pd.read_csv("./prueba-cmm.csv")
wp_df = pd.read_csv("./prueba-wp.csv")

top_equipos = 30

top_cmm = cmm_df.sort_values(by='rating', ascending=False).head(top_equipos)
top_wp = wp_df.sort_values(by='rating', ascending=False).head(top_equipos)
top_elo = elo_df.sort_values(by='elo', ascending=False).head(top_equipos)

In [230]:
top_cmm

         id    rating  ganados  perdidos  jugados
92   104925  1.267230       83         6       89
95   103819  1.164020       63        11       74
93   104918  1.141130       71        15       86
0    104527  1.036890       55        19       74
30   105453  1.022890       55        17       72
94   104745  1.020910       61        20       81
50   104607  1.013320       57        22       79
107  103970  1.005880       55        16       71
23   104755  0.985301       43        17       60
89   105683  0.927979       33        16       49
73   104542  0.911583       32        16       48
15   104731  0.901842       46        24       70
40   106058  0.874580       35        18       53
81   104545  0.872753       45        25       70
70   104792  0.870080       34        18       52
8    104468  0.868400       43        24       67
329  105656  0.866425        4         0        4
24   105227  0.866255       35        19       54
74   105676  0.828900       39        25       64
22   105138  0.823726       42        29       71
17   105777  0.820049       33        22       55
16   105332  0.813915       25        17       42
54   104259  0.813533       33        23       56
14   104180  0.811799       33        24       57
76   103333  0.804331       38        25       63
20   106401  0.802926       25        19       44
371  103600  0.794806        3         0        3
18   104571  0.792462       26        19       45
27   106071  0.785127       40        28       68
26   105449  0.773780       37        28       65

In [231]:
top_wp

         id    rating  ganados  perdidos  jugados
333  125571  1.000000        2         0        2
347  106174  1.000000        2         0        2
321  122321  1.000000        1         0        1
371  103600  1.000000        3         0        3
329  105656  1.000000        4         0        4
338  106426  1.000000        3         0        3
342  105070  1.000000        2         0        2
344  105820  1.000000        3         0        3
400  108780  1.000000        1         0        1
314  103594  1.000000        1         0        1
353  106237  1.000000        2         0        2
359  104600  1.000000        1         0        1
360  108717  1.000000        1         0        1
362  105464  1.000000        1         0        1
384  106249  1.000000        1         0        1
364  104909  1.000000        1         0        1
318  126473  1.000000        1         0        1
328  105334  1.000000        1         0        1
369  103529  1.000000        2         0        2
294  105790  1.000000        1         0        1
426  200537  1.000000        1         0        1
422  105273  1.000000        1         0        1
421  200274  1.000000        2         0        2
409  104910  1.000000        1         0        1
416  200272  1.000000        1         0        1
283  103902  1.000000        1         0        1
92   104925  0.932584       83         6       89
95   103819  0.851351       63        11       74
258  105438  0.833333        5         1        6
382  106078  0.833333        5         1        6

In [232]:
top_elo

      equipos          elo
117  106298.0  1630.761828
176  106121.0  1618.982792
83   106043.0  1596.052499
78   105053.0  1595.693045
72   105723.0  1591.365658
115  104999.0  1590.532859
307  111460.0  1587.721150
59   105683.0  1586.955165
187  104349.0  1586.693900
87   105732.0  1584.535599
254  106033.0  1583.897106
290  105302.0  1578.331337
15   105453.0  1573.662156
100  105032.0  1571.679183
170  104594.0  1571.376594
167  103908.0  1570.894586
118  105807.0  1570.836571
66   103970.0  1570.338208
166  110602.0  1570.205503
365  106227.0  1566.973257
101  105902.0  1565.967191
175  104978.0  1564.971583
191  103926.0  1564.883050
82   103781.0  1564.555421
147  105539.0  1561.224280
361  105899.0  1558.951224
149  106415.0  1557.218320
29   104259.0  1556.511295
19   105357.0  1555.433477
37   104882.0  1553.020621